.topnav {
  height: 40px;
  margin: 0 auto;
  text-align: left;
}

.topnav ul,
.topnav ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.topnav ul {
  z-index: 99;
  font-weight: bold;
}

.topnav .navigation {
  float: left;
  margin-left: 20px;
  font-size: 12px;
}

.topnav .navigation.nav {
  font-size: 13px;
}

.topnav .navigation li {
  _display: inline;
  float: left;
  _width: 0;
  text-align: center;
  _white-space: nowrap;
}

.topnav .navigation li a,
.topnav .navigation li span {
  display: block;
  text-decoration: none;
}

.topnav .navigation .top-submenu a.toplink span {
  display: block;
  height: 20px;
  padding-right: 16px;
}

.topnav .navigation .group {
  position: absolute;
  z-index: 99;
  display: none;
  background: #fff;
  border: 1px #ccc solid;
  border-top: 4px #5797f3 solid;
  -webkit-box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.topnav .navigation > li > ul {
  display: none;
}

.topnav .navigation ul li {
  float: none;
  _width: auto;
}

.topnav .navigation ul li a,
.topnav .navigation ul span {
  padding: 7px 10px;
  margin: 3px;
  text-align: left;
  text-decoration: none;
  -moz-border-radius: 4px;
       border-radius: 4px;
}

.topnav .navigation ul li a:hover,
.topnav .navigation ul li a.activelink:hover {
  color: white;
  background: #3093DE;
}

.profile.topnav .navigation .group {
  margin-top: 2px;
  border: 1px #ccc solid;
  border-radius: 5px;
}

.profile.topnav .navigation .group a {
  font-weight: normal;
  color: black;
}

.profile.topnav .navigation .group a:hover {
  color: white;
}

.profile.topnav .navigation .group li.active {
  background: #3093DE;
}

.profile.topnav .navigation .group li.active a {
  color: white;
}

.profile.topnav .navigation ul {
  padding: 5px 0;
}

.profile.topnav .navigation ul li a {
  padding: 5px 20px;
  margin: 0;
  border-radius: 0;
}

.main.topnav .navigation a.toplink {
  height: 27px;
  padding: 0 11px 0;
  padding-top: 12px;
  color: black;
  text-indent: 10px;
  text-transform: uppercase;
}

.main.topnav .navigation .top.active a.toplink,
.main.topnav .navigation .top a.toplink:hover,
.main.topnav .navigation .top:hover a.toplink,
.main.topnav .navigation .top.hover a.toplink {
  color: #5797f3;
  background: transparent;
}

.main.topnav .navigation .top-submenu a.toplink:hover,
.main.topnav .navigation .top-submenu:hover a.toplink,
.main.topnav .navigation .top-submenu.hover-sub a.toplink {
  color: #5797f3;
}

.main.topnav .navigation .top-submenu a.toplink span {
  padding-right: 14px;
}

.main.topnav .navigation .top {
  padding-right: 10px;
}

.main.topnav .navigation ul li.active a.activelink {
  color: white;
  background: #50B3FE;
}

/* --- DIFFERENT SUBMENU STYLE ----------------------------------------- */

.topnav .navigation .cols {
  background: #fafafa;
}

.topnav .navigation .cols-headlink {
  margin-bottom: 0;
  background: #eee;
  border: 1px #bbb solid;
}

.topnav .navigation .cols-group {
  float: left;
  padding: 0 5px;
  margin: 5px 0;
  border-left: 1px #eee solid;
}

.description {
  font-size: 85%;
  color: #555;
}

a:hover .description,
.topnav .navigation ul li.active a .description {
  color: #EEE;
}

.topnav .navigation .my_width + ul a {
  min-width: 80px;
}

/* -- /DIFFERENT SUBMENU STYLE ----------------------------------------- */
